@font-face {
  font-family: "IRANSans";
  src: url("../public/assets/font/IRANSansWeb.woff");
}


html,
body {
  padding: 0;
  margin: 0;
    direction: rtl;
    background-color: #fafafa;
    font-family: "IRANSans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
